*{
    // line-height: 1.5;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v51/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
// .bg-green{
//     background-color: #EDF4EE;
// }
.main{
    min-height: calc(100vh + 100px);
}
.sidebar-sticky{
    // @無效 結果是不夠高
    // min-height: 400px;
    // top: 0;//以視窗高貼上下
    // left: 0;
    // bottom: 0;//!!原本外面row會占滿高 但因為是postion會縮
    position: fixed;
    width: 100%;//會吃到整個視窗
    top: 0;
    bottom: 0;
    // min-height: 100vh;//!!會吃不到
    // min-height: 100vh;//!!!視窗拉多高就多高
    .card-body{
        min-height: 200px;
    }
}

.sidebar{
    // !!不用下面這些發現vh-100就可以實現響應視窗高度了!!
    // position: absolute;
    // width: 100%;//會吃到整個視窗
    // top: 0;
    // bottom: 0;
    
    @media screen and ( min-width: 768px) {
        // height: 100%;
        // height: calc(100vh - 56px);
        // ##發現vh有個缺點縮放視窗會伸縮，可是滾動瀏覽器 就發現card=footer沒辦法貼下面了
        // @手動出現 看官方好像也是這樣
        display: flex !important;
        flex-basis: auto;
        // ------
        // position: fixed;//fixed視窗伸縮跟body長度都可固定
        // // !!!發現這樣往下滑navbar會不見
        // top: 0;//可是會吃掉上方navbar
        // bottom: 0;
        // // width: 100%;//會百分百整個窗口
        // // width: calc(100% - 83.333333%);不就是16%...
        // padding-top: 56px;//!!!
        // -------------------
        // position: absolute;//card-footer又會跑下面去
        // top: 0;
        // bottom: 0;
        // width: 100%;
        // padding-top: 56px;
        // --------------------------
        // position: sticky;//card-footer又會跑下面去
        // top: 0;
        // bottom: 0;
        // width: 100%;
        // padding-top: 56px;
        // ---------------------
        // !!成功了
        // ##然後這邊不像bs4左邊列沒有footer 只要設定max-height 100vh -rem 然後設卷軸就好
        height:calc(100% - 56px);
    }
    .card-body{
        min-height: 200px;
    }
}
.inline-flex{
    display: inline-flex;
}

.outline{
    outline:1px solid red;
}

// 只能這樣覆蓋嗎
// 覆蓋無效...
.list-group-item.active{
    background-color:$brand-primary-light;
    // background-color:red!important;
    border-color:$brand-primary-dark;
    color:$brand-dark;
}
.card-header{
    margin: -1px !important;
}

// 又被吃掉了
// a:hover{
//     // color:$bg-green;
//     color:green;
// }

// .btn:hover{
//     color:$bg-green;
// }
.reply_block{
    /* top: 0; */
    right: 0;//可同時並存!!
    bottom: -100%;
    left: 100%;
    transition: all .5s;
    // @?錯覺 結束得比較快
    &.show{
        right: 0;
        bottom:0;
        left: 0;
    }
}
