 //utilities
 .font-family-lato{
    font-family: 'Lato', sans-serif;
  }
 
//   .font-size-xs{
//     font-size: $font-size-xs;//variables沒有
//   }
  .font-size-base{
    font-size: $font-size-base;//1rem
  }
  .font-size-sm{
    font-size: $font-size-sm;//.875rem
  }
  .font-size-md{
    font-size: $font-size-base * 1.1;//自訂
  }
  .font-size-lg{
    font-size: $font-size-lg;//1.25rem
  }

//   .icon_select{
//     background: url("../images/expand_more.svg") no-repeat;
//     background-position: 95% center;

//   }


  .page_arrow{
    padding-top: 6px;
    padding-bottom: 6px;
}

.select_arrow{
  background: url("../images/expand_more.svg") no-repeat;
  background-position: 95% center;
    // background-size: contain;
    // background-position-x: right;
    appearance: none;
}
// ##dashboard------------------------------------------------------

// @@無效
.hover-secondary{
    @mixin hover(){
        color: $brand-secondary;
        // color: green;
    }

}


.inline-flex{
    display: inline-flex;
}

.outline{
    outline:1px solid red;
}
