.web-banner{
    height: 840px;
    background: url("../assets/images/68.png");
    background-size: cover;//不用no-repeat
    background-position: 50% 50%;
    color:$coffee;
    @include phone(){
        height: 394px;
    }

    .container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .title-box{
        font-weight: bold;
        text-align: right;
        p{
            font-size: 36px;
        }
        h2{
            font-size: 64px;
        }
        @include phone(){
            p{
                font-size: 16px;
            }
            h2{
                font-size: 32px;
            }
        }
    }
}