.web-page.contact-form{
    background: #AA06010D;
    padding-bottom: 92px;
    @include phone(){
        padding-bottom: 48px;
    }
    .container{
        max-width: 800px;
        margin: 0 auto;
        @include pad(){
            max-width: 64.6%;
        }
        @include phone(){
            max-width: 87.2%;
        }

    }
    .title{
        color:$primary;
        padding-bottom: 24px;
        &+p{
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    .form{
        margin-bottom: 48px;
    }

    .form-group{
        margin-bottom: 16px;
        label{
            display: block;//預設行內
            margin-bottom: 5px;
        }
        input.form-control,textarea{
            display: block;//還是要block才不會有行內間隔
            width: 100%;//剩下控制rows就好 cols=不用了
            background: transparent;
            border:1.3px solid gray;
            outline: 0;//
            padding: 14px 16px;
        }
        &.check{//為什麼input跟逸閔助教不一樣 喔喔lable
            // input[type="checkbox"]{
            //     display: block;
            // }
            // align-items: center;//input不一樣
            align-items: baseline;//也可以直接寫在style
            label{
                margin-bottom:0;
            }
            //或input[type="checkbox]
        }
    }
    
    .send{
        text-align: center;
        .btn{
            display: inline-block;//a一定要block
            width: 180px;
            // height: 54px;//義敏助教不寫高
            padding: 16px 0;
            font-size: 16px;
            color: #fff;
            background-color: $primary;
            @include md(){
                width: 136px;
                padding: 7px 0;
            }
        }
    }
    
}