<!DOCTYPE html>
<!-- <html lang="en" class="h-100"> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%- title %></title>
    <link rel="stylesheet" href="./css/all.css">
    <script src="https://kit.fontawesome.com/77513e405a.js" crossorigin="anonymous"></script>
</head>
<!-- @有main設最小 就不需要h-100-->
<!-- @@發現有個奇怪的bug 開分頁後按的 別頁也會動到 -->
<body class="">
     <!-- <div class="main container-fluid h-100"> -->
     <div class="main container-fluid">
        <!-- <div class="row flex-xl-nowrap h-100"> -->
        <div class="row flex-xl-nowrap">
            <!-- ##h-100也可以 -->
            <div id="dashboardSide" class="col-md-2 p-0 outline">
            <!-- <div class="col-md-2 p-0" style=""> -->
                 <!-- !!沒辦法用w-100吃到col的寬度 -->
                <!-- <div class="position-fixed" style="top: 0;bottom: 0;right:0;left:0"> -->
                    <!-- <div style="width:200px"> -->
                    <nav id="dashboardNav" class="navbar navbar-expand-md pt-md-5 pl-md-4 text-truncate navbar-light bg-primary">
                        <a class="navbar-brand" href="#">
                            <!-- @@為何我bs4圖片會自動縮放 可是別人不會 -->
                            <img class="w-auto" src="./images/logo-ANSWER.svg" alt="">
                        </a>
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#sideBar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav> 
                       
                    <!-- <nav> -->
                    <!-- <nav class="sidebar-sticky min-vh-100"> -->
                    <!-- <nav class="sidebar-sticky h-100 mh-50">//只有max 沒有min -->
                    <!-- @有辦法高100% 又限縮高度縮小不會蓋到嗎 目前只想到card-body 好像渴了 -->
                    <!-- <nav class="sidebar-sticky position-fixed"> -->
                    <!-- <nav class="sidebar vh-100"> -->
                    <!-- <aside id="sideBar" class="sidebar collapse navbar-collapse navbar-expand"> -->
                    <aside id="sideBar" class="sidebar collapse navbar-collapse border-right">
                    <!-- <aside id="sideBar" class="sidebar navbar-collapse collapse"> -->
                        <!-- @@因為collapse預設就是隱藏 如何下class md以上collapse也不要摺疊 如果官方好像也是手動下block 
                        那.navbar-expand{-sm|-md|-lg|-xl}要幹嘛
                        -->
                    <!-- @可是官方.navbar-expand-lg .navbar-collapse {有效欸 -->
                    <!-- <aside id="sideBar" class="sidebar collapse navbar-collapse navbar-expand"> -->
                    <!-- <div class="h-100"> -->
                        <div class="card w-100 h-100 rounded-0 border-0 bg-primary">
                            <div class="card-title mb-0">
                                <!-- <a class="icon card-img"> -->
                                <!-- <a class="d-block pl-3 pt-4" href="#">
                                    #margin-top會跑出去
                                    <img class="ml-3 mt-3" src="./images/logo-ANSWER.svg" alt="">
                                    <img class="" src="./images/logo-ANSWER.svg" alt="">
                                </a> -->

                            </div>
                            <div class="card-body text-truncate">
                                <!-- @@為何...出不來 -->
                                <!-- <div class="list-group"> -->
                                <div class="nav flex-column font-weight-bold text-dark">
                                    <!-- ##省去nav-item也是可以的 -->
                                    <a class="nav-link active mb-2" href="./dashboard.html">
                                        <div class="d-flex align-items-center">
                                            <!-- <span class="fa fa-money-bill-alt fa-1x mr-3"></span> -->
                                            <span class="material-icons mr-3 align-middle" style="user-select: auto;">
                                                insert_chart
                                            </span>
                                            <div class="w-100 h6 mb-0">Dashaboard</div>
                                        </div>
                                    </a>
                                    <!-- ##沒pills active好像沒差 -->
                                    <!-- <a class="nav-link" href="./dashboard_business.html"> -->
                                    <a class="nav-link mb-2" href="./dashboard_business.html">
                                        <div class="d-flex align-items-center">
                                            <!-- <span class="fa fa-money mr-3"></span> -->
                                            <span class="material-icons mr-3 align-middle" style="user-select: auto;">
                                                forum
                                            </span>
                                            <div class="w-100">Question</div>
                                        </div>
                                    </a>
                                    <a class="nav-link mb-2" href="./dashboard.html">
                                        <div class="d-flex align-items-center">
                                            <!-- <span class="fa fa-money mr-3"></span> -->
                                            <span class="material-icons mr-3 align-middle" style="user-select: auto;">
                                                assignment
                                            </span>
                                            <div class="w-100">Assignment</div>
                                        </div>
                                    </a>
                                    <a class="nav-link mb-2">
                                        <div class="d-flex align-items-center">
                                            <!-- <span class="fa fa-money mr-3"></span> -->
                                            <span class="material-icons mr-3 align-middle" style="user-select: auto;">
                                                video_library
                                              </span>
                                            <div class="w-100">Course</div>
                                        </div>
                                    </a>
                                    <a class="nav-link mb-2" href="./dashboard_admin.html">  
                                        <div class="d-flex  align-items-center">
                                            <!-- <span class="fa fa-money mr-3"></span> -->
                                            <span class="material-icons mr-3 align-middle" style="user-select: auto;">
                                                supervisor_account
                                            </span>
                                            <div class="w-100">Admin</div>
                                        </div>
                                    </a>
                                    <a class="nav-link mb-2">
                                        <div class="d-flex align-items-center">
                                            <!-- <span class="fa fa-money  mr-3"></span> -->
                                            <span class="material-icons mr-3 align-middle" style="user-select: auto;">
                                                settings
                                            </span>
                                            <div class="w-100">Settings</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer d-none d-md-block">
                                <div class="d-flex">
                                    <div class="avator_img"><!--給了寬高40-->
                                        <!-- @@圖片無法顯示 發現是縮小 為了寫了40px卻會縮 flex會動到 可是昨天沒縮 參考別人的也是寫固定-->
                                        <!-- <img class="mw-100" src="../images/andychen.jpeg" alt=""> -->
                                        <img class="w-100" src="../images/andychen.jpeg" alt="">
                                    </div>
                                    <!-- @text-truncate始終無效 -->
                                    <div class="avator_info text-truncate">
                                        <div>Andy Chen</div>
                                        <div>andy0410@mail.com</div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    <!-- </div>      -->
                    </aside>
                <!-- </div> -->
            </div>


            <%- contents %>

        </div>
    </div>
    <!-- <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script> -->
    <!-- <script src="../../node_modules/"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script> -->
        <!-- <script src="../../node_modules/jquery/dist/jquery.slim.min.js"></script> -->
        <!-- <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
    // ##nav===============================================
    
    $('#dashboardNav a').on('click', function (e) {
        // @@為何沒有反應
        e.preventDefault()
        $(this).tab('show')
        // --------------------
        // $(this).addClass('active');

    })
    

    // =========================================================
        // $('.dropdown-toggle').dropdown();
        // $("#msg a").off().on('click', function(e){
        //     e.preventDefault();
        //     $(this).tab('show');
        // })
        $(document).ready(function(){
            $("#msg a:first-child").tab('show');
            
            $("#btnReply").click(function(){
                $("#replyBlock").addClass('show')
            })
            $("#btnHideReply").click(function(){
                $("#replyBlock").removeClass('show')
            })
        })

        // ===============admin===========================
        // @@要再写一个输入资料
        $(document).ready(function(){
                // @@siblings到底可不可以这样用 写一下little-js
            $('.jsArrow').click(function(){
                // @@??为何回呼函数失败了
                // $(this).hide(function(){
                //     $(this).siblings('.jsArrow').show();
                // });
                // =========
                // $(this).hide();
                // // $(this).siblings('.jsArrow').show();
                // $(this).siblings('.jsArrow').css('display', 'inline-block');//难道说也包含
                // ========
                // $(this).siblings('.jsArrow').css('display', 'inline-block');//难道说也包含
                // $(this).hide();//是一定要取不同的名称才有办法做到 名称相冲
                // @有更好的做法吗 下面都失败
                // if($(this).hasClass('d-block')){
                //     $(this).removeClass('d-block').siblings('a').addClass('d-block')
                // }
                // $(this).toggleClass('d-block').toggleClass('d-none');
                
                // ##这个成功! 移除掉d-none inline-block就会自动出现了
                console.log(this);
                
                // @@突然又變失敗
                // $(this).addClass('d-none').siblings('a').removeClass('d-none');
                $(this).addClass('d-none').siblings('.jsArrow').removeClass('d-none');

                    // @@??
                    // $(this).removeClass('d-none');
                    // $(this).addClass('d-none');//無
                    // $(this).addClass('.d-none');//有
                    // $('.jsArrowDown').addClass('d-none');//無
                    // $(this).addClass('bbxx');//有
                    // $(this).hide();//有
            })
            // @@为舌么下面开启上面那个就失效了 一值出现bug才一值是
            $('#viewAdminModal').click(function(){
                $('#collapseExample').collapse('hide');
                $('.jsArrowDown').removeClass('d-none');
                $('.jsArrowUp').addClass('d-none');
            })
            $('#viewAdminModal .close').click(function(){
                $('#collapseExample').collapse('hide');
                $('.jsArrowDown').removeClass('d-none');
                $('.jsArrowUp').addClass('d-none');
            })

            // // @@因为btn预设inline-block是否只能直接操作block
            // $('.jsArrowDown').click(function(){
            //     // $(this).addClass('d-none').removeClass('d-block');
            //     // $(this).removeClass('d-block').addClass('d-none').;
            //     $(this).css('display','none');
            //     // $('jsArrowTop').addClass('d-block');
            //     $('.jsArrowUp').css('display','inline-block');
            // })
            // $('.jsArrowUp').click(function(){
            //     // $(this).addClass('d-none').removeClass('d-block');
            //     // $(this).removeClass('d-block').addClass('d-none').;
            //     // $(this).removeClass('d-block').addClass('d-none').;
            //     $(this).css('display','none');
            //     // $('jsArrowDown').addClass('.d-block');
            //     $('.jsArrowDown').css('display','inline-block');
            // })
            // $('.jsArrowUp').css('display','none');

            // $('.close').click(function(){
            //     $('#collapseExample').collapse('hide');
            //     // @@如果是点外面的话就没用了 要找parents
            //     $('.jsArrowDown').css('display','inline-block');
            //     $('.jsArrowUp').css('display','none');
            // })
        

        })
       
    </script>
    <style>
        /* @寫再scss吃不到 */
        .card-header{
            margin: -1px!important;
        }
       
        .px-6{
            padding: 0 2rem;
        }
        /* .btn-edit:hover{
            color: green;
        }
        a:hover{
            color:green;
        } */
    </style>
</body>
</html>