/*@@當作多page用 现有component的custom-tools如何*/


.custom {
    /*改swiper 按鈕*/
    &__swiper-button-next {
        // position: relative;//%%不能亂加 absolute不見
        width: 40px;
        height: 40px;
        // right: 0;
        top: 30%;
        transform: translateX(25%);//## translate百分比 &超出會被蓋掉
        // z-index: 100;//無效
        background-color: $brand-secondary;
        &::after {
            font-size: 16px;
            font-weight: bold;
        }
    }

    // &__swiper-button-prev {
    //     width: 40px;
    //     height: 40px;
    //     top: 30%;
    //     transform: translateX(-25%);

    //     &::after {
    //         font-size: 16px;
    //         font-weight: bold;
    //     }
    // }
    
    /*range 按鈕*/
    // ## todo range更好的方式
    // ## todo bs4的下去改
    &__rangeGroup {
        position: relative;
        input[type=range] {
            position: absolute;
            appearance: none;
            /* 重置預設背景拉條 */
            // overflow: hidden;
            height: 8px;
            outline: none;
            background: none;
            pointer-events: none;

            // 滑動的橫條軌道
            &::-webkit-slider-runnable-track {
                background-color: map-get($theme-colors, primary);
                border-radius: 8px;
                height: 2px;
            }

            // 滑動的圈圈按鈕
            &::-webkit-slider-thumb {
                appearance: none;
                position: relative;
                top: -8px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: map-get($theme-colors, primary);
                pointer-events: auto;

                @include media-breakpoint-up(md) {
                    top: -7px;
                    width: 16px;
                    height: 16px;
                }
                // ::-webkit-slider-thumb:before
            }

        }
    }
}


// 會跑版
// .swiper-container {
//   overflow: visible;
// }
// $slide: ".swiper-slide";
// .swiper-slide {
//   opacity: 0;
//   visibility: hidden;
//   transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
//   &-active {
//     opacity: 1;
//     visibility: visible;

//     @for $i from 1 through 3 {
//       & + #{$slide} {
//         opacity: 1;
//         visibility: visible;
//       }
//       $slide: "#{$slide} + .swiper-slide";
//     }
//   }
// }

// ======================================================

// 手刻版本
//todo 之後換改bs4 变custom__checkbox
.l_checkbox {
    display: none;//##加在input
    &__label {
      cursor: pointer;
      @include media-breakpoint-only(md){
        font-size: 14px;
      }
      &::before {
        content: "\2714";
        border: 2px solid map-get($theme-colors , dark );
        border-radius: 10%;
        display: inline-block;
      
        width: 24px;
        height: 10px;
        flex-shrink:0;//##
        transform: translateY(0px);
        padding: 0px 0 20px 4px;
        margin-right: 4px;
        color:transparent;//##先隱藏
      }
    }
    
    &:checked {
      + .l_checkbox__label::before {
        border: 2px solid  map-get($theme-colors , primary );
        background-color:  map-get($theme-colors , primary );
        color: white;
      }
    }
  }
  
  
  // todo BS4版本(跨瀏覽器)
  // .custom-checkbox{
  //   .custom-control-input:checked ~ .custom-control-label{
  
  //     &::before{
  //       width: 24px;
  //       height: 10px;
  //       border-radius: 10%;
  //       display: inline-block;
  //       transform: translateY(0px);
  //       padding: 0px 0 20px 4px;
  //       margin-right: 4px;
  
  //     }
  //     &::after{
  //       content: "\2714";
  //       border: 2px solid map-get($theme-colors , dark );
  //       border-radius: 10%;
  //       display: inline-block;
      
  //       width: 24px;
  //       height: 10px;
  //       transform: translateY(0px);
  //       padding: 0px 0 20px 4px;
  //       margin-right: 4px;
  //       color:transparent;//##先隱藏
  //     }
      
  //   }
  // }
  