/*單一工具類別*/

// .overflow-x--atuo{
//   overflow-x: auto;
// }

.overflow--Xscroll {
    @media screen and (max-width:1199px) {
        overflow-x: scroll;
        appearance: none; //@@無效 todo隱藏
    }
}
// flex-wrap: nowrap;
// overflow: scroll;
// white-space: nowrap;


// ##也可改bg--cover
.image--cover {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

.object--cover {
    object-fit: cover;
}

// 圓角
.rounded--deepen {
    border-radius: 8px;
}

.rounded-top--deepen {
    border-radius: 8px 8px 0 0;
}

// 分隔線
.lineSeparator {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 80%;
        top: 10%; //##上下10% 高度80%
        bottom: 10%;
        right: -1px; //##right必要
        background-color: map-get($theme-colors, secondary); //##map-get
    }
}

// 欄位設定
.card-columns {
    @include media-breakpoint-up(lg) {
        column-count: 2;
    }
}