button:focus {
    // #預設
    /* outline: 1px dotted; */
    /* outline: 5px auto -webkit-focus-ring-color; */
    outline:none !important;
    // outline:$brand-primary-light;
    box-shadow:none!important;
}
img{
    // max-width: 100%;
    // height: auto;
    display: block;
}

// ul{ //##開啟的話ul會有黑色圈圈
//     list-style-type: none;
//     padding-inline-start: 0;
// }

// input ,textarea{
textarea{
    outline: none;
    border-style: none;
}

[type=submit]{
    cursor: pointer;
    border: none;
}
select{
    outline: none;
    appearance: none;
}