@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v51/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


button:focus {
    // #預設
    /* outline: 1px dotted; */
    /* outline: 5px auto -webkit-focus-ring-color; */
    outline:none !important;
    // outline:$brand-primary-light;
    box-shadow:none!important;
}
img{
    // max-width: 100%;
    // height: auto;
    display: block;
}

// ul{ //##開啟的話ul會有黑色圈圈
//     list-style-type: none;
//     padding-inline-start: 0;
// }

// input ,textarea{
textarea{
    outline: none;
    border-style: none;
}

[type=submit]{
    cursor: pointer;
    border: none;
}
select{
    outline: none;
    appearance: none;
}