footer.footer {
  padding: 48px 0 27.5px;
  color: #fff; }
  @media (max-width: 1199px) {
    footer.footer .container {
      width: 88.5%; } }
  footer.footer .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px; }
    footer.footer .footer-nav a {
      display: block; }
    footer.footer .footer-nav li {
      margin-right: 48px; }
    footer.footer .footer-nav-map {
      display: flex; }
    footer.footer .footer-nav-social {
      display: flex; }
      footer.footer .footer-nav-social li:not(:last-child) {
        margin-right: 32px; }
      footer.footer .footer-nav-social a {
        display: block;
        width: 48px;
        height: 48px; }
        footer.footer .footer-nav-social a img {
          width: 100%; }
  footer.footer .footer-nav-info li {
    align-items: center;
    font-size: 36px;
    margin-bottom: 16px; }
  footer.footer .footer-nav-info li:nth-child(1) img {
    margin-right: 23px; }
  footer.footer .footer-nav-info li:nth-child(2) img {
    margin-right: 12px; }
  footer.footer ul.footer-copyright {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer.footer ul.footer-copyright li {
      display: flex; }
      footer.footer ul.footer-copyright li:nth-child(1) {
        align-items: center; }
      footer.footer ul.footer-copyright li:nth-child(2) {
        flex-direction: column; }
    footer.footer ul.footer-copyright img {
      margin-right: 16px; }
    footer.footer ul.footer-copyright p {
      font-size: 16px;
      opacity: .8; }
    footer.footer ul.footer-copyright a {
      display: block;
      font-size: 14px;
      margin-left: 62px;
      text-decoration: none;
      color: #fff;
      opacity: .8; }
