/*!!這是不要刪的注視*/
footer.footer{
    padding: 48px 0 27.5px;
    // background-color: $primary;//這邊用bg-primary
    // color: lighten(#fff,30%);
    color:#fff;
    // .container{
    //     max-width: 1200px;//寫一次就好
    // }
    .container{
        // @include pad(){
        //     width: 88.5%;//但是1200~992之間兩邊會貼 乾脆設container之下的都是平板
                // 要嘛container當初就用原本的加上padding 有陰影也不會被切 mike好像做過???
        // }
        @media (max-width:1199px){
            width: 88.5%;
        }

    }
    .footer-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
        a{
            display: block;
        }

        li{
            margin-right: 48px;
        }
        &-map{
            display: flex;//原本寫在上面 但bs4的flex important讓none無效

        }
        &-social{
            display: flex;
            // li{
            //     margin-left: 32px;//左右會變大
            // }
            li:not(:last-child){
                margin-right: 32px;
            }
            a{
                display: block;
                width: 48px;
                height: 48px;
                img{
                    width: 100%;
                }

            }

        }
    }

    .footer-nav-info{
        li{
            align-items: center;
            font-size: 36px;
            margin-bottom: 16px;
        }
        li:nth-child(1){
            img{
                margin-right: 23px;

            }
        }
        li:nth-child(2){
            img{
                margin-right: 12px;
            }
        }
    }
    // hr{//插了忘了還有hr 改樣式
    //     solid
    // }

    ul.footer-copyright{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li{
            display: flex;
            &:nth-child(1){
                align-items: center;

            }
            &:nth-child(2){
                flex-direction: column;
            }
        }
        img{
            margin-right: 16px;


        }
        p{
            // color:inherit;
            font-size: 16px;
            opacity: .8;
        }
        a{
            display: block;
            font-size: 14px;
            margin-left: 62px;
            text-decoration:none;//只是無下底線
            color:#fff;
            opacity: .8;

        }
    }
}