// img{
//     border: 1px solid red;
//     height: 80px;
//     display: block;
//     // 1.不然會高出3公分留白
//     // 2.可是他向inline-block可以設定寬高
//     // 3.給他block且不會占滿
// }

// @import "reset.css"; 
@import url("reset.css");
img,a{
    // display: block;
    display: inline-block;
}

body{
    font-family:"微軟正黑體",arial,sans-serif;
    color:#000000;
}
// li{
//     list-style-type: none !important;
//     list-style: none;
// }

@mixin title {
    display: flex;
    align-items: center;
    padding-bottom:15px;
    border-bottom: 1.5px solid #999;
    h2{
        font-size: 32px;
        font-weight: bold;
        margin-right: 16px;
        
    }
    span{
        font-size: 24px;
        // font-weight: medium;
        font-weight: bold;
        color:#A00404;
        // display: block;
        vertical-align: middle;//不起作用??

    }
    @content
}
.wrapper{
    width: 100%;//!對照視窗百分比
    padding-top: 48px;
    overflow: hidden;//要加這個才安全 會爆出視窗的東西才會結掉避免卷軸
    section{
        max-width: 100%;//?
        overflow: hidden;
    }
    .container{
        max-width: 1200px;
        padding: 0 20px;//!!!这样缩小左右才不会贴边
        margin: 0 auto;
    }   
}

.name{
    // text-align: left;
    // padding: 48px 0 25px;//!改成父層pt 子曾margin-bottom
    margin-bottom: 48px;
    h1{
        // display: inline-block;
        font-size: 80px;
        color:#000000;
        line-height: 90px;
        padding-bottom: 16px;
        border-bottom: 2px solid black;
        // padding: 3px;
    }
}

.avator{
    // padding-top:45px;
    margin-bottom: 48px;
    // font-size: 0;//!!純寫inline的img的話要寫font-size0
    // img{
    //     width: 324px;
    //     height: auto;
    // }
    // =======
    .img-avator{
        width: 324px;
        height: 324px;
        >img{
            width: 100%;
            height: 100%;
        }

    }
    

}

.profile{
    .title{
        @include title();
    }
    .content{
        padding: 25px 0 0 50px;
        margin-bottom: 72px;
        font-size: 24px;
        line-height: 36px;
        .intro{
            margin-bottom: 24px;
            position: relative;
            &::before{
                content:"";
                display: block;
                position: absolute;
                left: -32px;//16+16
                top: 10px;//!!!用補充
                width: 16px;
                height: 16px;
                vertical-align: middle;//??又不是行內
                border-radius:50%;
                background-color: #96A9C4;
            }
        }
        .more{
            // margin-bottom: 72px;//?
        }
    }
}

.education{
    .title{
        @include title();
    }
    ul.content{
        padding: 20px 0 0 50px;
        font-size: 24px;
        >li{
            position: relative;

            &::before{
            content:"";
            display: block;
            position: absolute;
            left: -32px;//16+16
            top: 3px;
            width: 16px;
            height: 16px;
            vertical-align: middle;//??
            border-radius:50%;
            background-color: #96A9C4;
            }

            &:not(:last-child){
                margin-bottom: 32px;
                &::after{
                   content: "";
                    display: block;
                    position: absolute;
                    left: -24px;//16+8
                    top: 16px;
                    width: 1px;
                    height: 44px;
                    background-color: #96A9C4; 
                }
                
            }

        }
        
    }
}

section.skill{
    // max-width: 1200px;
    position: relative;//!!!
    &::before{
        content:"";
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-color: #96A9C4;
    }
    .skill-box{
        width: 100%;
        box-sizing: border-box;
        padding: 24px 100px 52px;
        background-color: #415165;
    }
    color: #fff;
    .title{
        text-align: center;
        line-height: 45px;//讓h2 span繼承 高度出來竟是62
        height: 45px;//不加差很多 只能寫死高度嗎?
        border-bottom: 1px solid #fff;
        // padding-bottom: 2px;量出來是8
        padding-bottom: 8px;
        .title-item{
            // display: inline-block;//失敗的原因是h2會占滿 span會掉下來
        }
        h2{
            font-size: 32px;
            display: inline-block;
        }
        span{
            font-size: 24px;
            display: inline-block;
        }
    }

    .content{
        padding-top: 40px;
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: lighter;

        >ul{
            padding-left: 23px;
            border-left: 1px solid rgb(207, 205, 205);
            // position: relative;改用別的
            // position: absolute;//會浮起來!!
            >li{
                opacity: .9;
                line-height: 32px;//按照xd框框給的
                margin-bottom: 16px;
            }
            // >li{ //!!!!!!!
            //     opacity: .9;
            //     // line-height: 32px;
            //     margin-bottom: 30px;
            // }

        }
    }
}

section.exp{
    .exp-box{
        width: 100%;
        // padding-top: 72px;
        padding: 72px 0;
        .title{
            @include title();
        }

        .content{
            // width: 100%;//!!!这样等于给他宽度写死 下面写padding会增长出去便1225
            padding: 22px 0 0 25px;
            >ul{
                border-left: 1px solid #96A9C4;
                padding-left: 22px;
                >li{
                    &:not(:last-child){
                        margin-bottom: 32px;
                    }
                    h3{
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: bold;
                    }
                    div[class*="img"]{
                        margin: 8px 0;
                    }
                    // .img-hex{//!!!父層沒寫寬高的話 inline的img跟父層div會有自動隔開小間隔

                    //     >img{ 
                    //         width: 89.5px;
                    //         height: 66.85px;
                    //         // width: 100%;
                    //         // height: 100%;
                    //     }
                    // }
                    .img-hex{//直接父層寫剛好圖片的大小 inline的img跟父層間隔消失
                        width: 89.5px;
                        height: 66.85px;
                        >img{
                            // object-fit: fill;//??为何不起作用
                            width: 100%;
                            height: 100%;
                            // width: 89.5px;
                            // height: 66.85px;
                        }
                    }
                    p{
                        font-size: 20px;
                        line-height: 28px;
                        max-width: 56%;
                        
                    }
                    .img-tree{
                        width: 72px;
                        height: 73px;
                        >img{
                            // object-fit: fill;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                }
            }
            
        }
    }
}

footer.contact{//乾 結果粗心標籤打錯難怪沒吃到
    background-color: #415165;
    .container{
        .contact-box{
            width: 100%; //這邊剛好1200了 可以不要外面包box了
            padding-top: 24px;
            padding-bottom: 32px;
            color: #fff;//吃不到!!
        }
    }
    .title{
        @include title(){
            color:#fff;//?span沒吃到
            justify-content: center;
            span{
                color:#fff;
            }
        };
    }

    .content{
        color:#fff;
        font-weight: lighter;
        >ul{
            max-width: 529px;//!!百分比怕左右空太大
            margin: 0 auto;
            padding-top: 32px;
            >li{
                font-size: 24px;
                line-height: 33px;
                margin-bottom: 16px;

                ul.social-icons{
                    display: flex;
                    a{
                        width: 48px;
                        height: 48px;
                        margin: 0 24px;
                        // font-size: 0;
                        >img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}